# YARD documentation
/doc/
/.yardoc/

# Bundler
/vendor/bundle/
/.bundle/

# RuboCop cache
/.rubocop-*

# Test coverage
/coverage/

# Temporary files
*.gem
*.rbc
.rspec_status
tmp/

# IDE files
.idea/
.vscode/
*.swp
*.swo
