<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ issuer }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url .ReqPath "static/main.css" }}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url .ReqPath "static/img/favicon.svg" }}">
  </head>

  <body class="langop-body">
    <header class="langop-navbar">
      <h1 class="langop-wordmark">
        Language Operator<span class="langop-cursor" aria-hidden="true"></span>
      </h1>
      <div class="langop-meta">
        {{ if extra "operatorVersion" }}
        <span class="langop-version" aria-label="Operator version">{{ extra "operatorVersion" }}</span>
        {{ end }}
        {{ if extra "clusterName" }}
        <span class="langop-cluster" aria-label="Cluster">{{ extra "clusterName" }}</span>
        {{ end }}
      </div>
    </header>

    <main class="langop-container">
